.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 3px black;
    z-index: 20;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}